<section class="main-section">
  <div class="header-container">
    <div class="left-side">
      <h1>Program Management</h1>
      <p class="secondaryText">
        Manage your programs, view registrations, and track performance
      </p>
    </div>
    <div class="right-side">
      <button
        class="create-program-button"
        matFab
        extended
        routerLink="/create-program"
      >
        <mat-icon>add</mat-icon>Create Program
      </button>
    </div>
  </div>
  <div class="box">
    <div class="info-cards-container">
      @for (metrics of programMetrics; track metrics.count) {
      <app-info-card
        class="info-card"
        [count]="metrics.count"
        [description]="metrics.description"
        [icon]="metrics.icon"
        [iconColor]="metrics.iconColor"
      ></app-info-card>
      }
    </div>
  </div>
  <div class="programs-container">
    <div class="left-aligned">
      <app-filter
        [programTypes]="programTypes"
        [sports]="sports"
        [statuses]="statuses"
        (filterChange)="onFilterChange($event)"
      >
      </app-filter>
    </div>
    <div class="right-aligned">
      <div class="programs-header">
        <h3>Programs ({{ filteredPrograms.length }})</h3>
        <p class="secondaryText">
          {{ filteredPrograms.length }} out of {{ programs.length }} programs
        </p>
      </div>
      <div class="cards-container">
        @for (program of filteredPrograms; track program.title) {
        <app-cards
          [title]="program.title"
          [sport]="program.sport"
          [programType]="program.programType"
          [imageUrl]="program.image"
          [startDate]="program.startDate"
          [endDate]="program.endDate"
          [registeredUsers]="program.registeredUsers"
          [status]="program.status"
          [tags]="program.tags"
        ></app-cards>
        }
      </div>
    </div>
  </div>
</section>
